@import '@folio/stripes-components/lib/variables.css';

.header {
  display: flex;
  justify-content: space-between;
  padding: var(--gutter);
  padding-left: 0;
}

.headerText {
  margin-bottom: 0;
}